<body>
    <md-card flex="50">
        <md-card-content>
            <md-toolbar class="md-accent md-hue-1">
                <h1 class="md-title " layout-padding>New Assignment</h1>
            </md-toolbar>


            <div layout="column" class="md-inline-form" flex>


                <form>
                    <div layout-gt-sm="row" class="md-block">
                        <md-input-container class="md-block">
                            <label>Name:</label>
                            <input type="text" ng-model="newName" required md-maxlength="20" />
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>DueDate:</label>
                            <input type="date" ng-model="newDueDate" required />
                        </md-input-container>
                    </div>

                    <div>
                        <md-input-container class="md-block">
                            <label>Description:</label>
                            <textarea ng-model="newDescription" md-maxlength="500" rows="2" md-select-on-focus>
                    </textarea>
                        </md-input-container>

                    </div>

                    <md-button ng-click="goBtnClicked()">Go</md-button>
                    <md-button ng-click="cancelBtnClicked(cRName)" href="#!/TeacherClassRoom/{{cRName}}">Cancel</md-button>

                </form>
            </div>
        </md-card-content>
    </md-card>
</body>
