<body>
    <md-card flex="50">
        <md-card-content>
            <md-toolbar class="md-accent md-hue-1">
                <h1 class="md-title " layout-padding>Enter Your Details</h1>
            </md-toolbar>

            <div layout="column" class="md-inline-form">
                <form>
                    <div>
                        <md-input-container class="md-block">
                            <label>Email Address:</label>
                            <input type="text" ng-model="email" required />
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Name:</label>
                            <input type="text" ng-model="name" required />
                        </md-input-container>
                    </div>
                    <div>
                        <md-radio-group ng-model="userType" layout="row">
                            <md-radio-button value=2 class="md-primary">Student</md-radio-button>
                            <md-radio-button value=1 class="md-primary"> Teacher </md-radio-button>
                        </md-radio-group>
                    </div>
                    <div>
                        <md-input-container class="md-block">
                            <label>Password:</label>
                            <input type="password" ng-model="password" required />
                        </md-input-container>
                    </div>
                   

                    <md-button ng-click="registerBtnClicked()">Register</md-button>
                </form>
            </div>
        </md-card-content>
   </md-card>
</body>