<body>
    <md-button ng-click="unsubBtnClicked()" class="md-accent md-raised md-hue-1">Unsubscribe</md-button>
    <h1>{{classRoomName}}</h1>

    <div class="container">

        <md-card flex="50">
            <md-card-container>
                <md-toolbar class="md-accent md-hue-1">
                    <p layout-padding>Assignments</p>
                </md-toolbar>

                    <md-list layout-align="center center">
                        <md-list-item class="md-2-line" ng-repeat="assignment in classRoom.assignments">
                            <div ng-if="assignment.markedDone">
                                <md-button ng-click="assignmentBtnClicked(assignment.id)" href="#!/StudentAssignmennt/{{assignment.id}}" class="md-list-item-text" layout="column">
                                    <h3>{{assignment.title}}</h3>
                                    <h4>DONE</h4>
                                </md-button>
                            </div>
                            <div ng-if="assignment.markedDone == false">
                                <md-button ng-click="assignmentBtnClicked(assignment.id)" href="#!/StudentAssignmennt/{{assignment.id}}" class="md-list-item-text" layout="column">
                                    <h3>{{assignment.title}}</h3>
                                    <h4>{{assignment.dueDate}}</h4>
                                </md-button>
                            </div>
                        </md-list-item>
                    </md-list>
                
            </md-card-container>
        </md-card>
    </div>
</body>
