<body ng-controller="teacherAssignmentController">
    <div class="container" layout="column" flex>
        <md-button ng-click="backBtnClicked(classRoom)" href="#!/TeacherClassRoom/{{assignment.classRoomName}}"> Back </md-button>

        <div class="container" layout="column" layout-padding="10" flex>
            <h1>{{assignment.name}}</h1>
            <h3>{{assignment.dueDate}}</h3>
            <p>{{assignment.description}}</p>
            <md-button href="#!/EditAssignment">Edit</md-button>
        </div>
    </div>
</body>
