@{
    Layout = null;
}

@using AngularHomeWork.Models
@model AngularHomeWork.Models.LoginPageModel

<!DOCTYPE html>
<html>
<head>
    <meta chrset="UTF 8">
    <link rel="stylesheet" href="/css/angular-material.css" />
    <title>Login</title>
</head>
<body
    ng-app="loginApp" 
    ng-controller="loginPageController"
    layout ="column"
    ng-init=
    "
    schoolName = '@Model.settings.schoolName' ;
    "
>
    <md-toolbar class="md-primary" layout="row" layout-align="space-between center">

        <p layout-margin>{{schoolName}}</p>
        <div layout-align="center center">
            <md-button href="#!/Home" class="md-accent md-raised md-hue-1">Home</md-button>
            <md-button href="#!/Login" class="md-accent md-raised md-hue-1">Login</md-button>
            <md-button href="#!/Register" class="md-accent md-raised md-hue-1">Register New User</md-button>

        </div>
    </md-toolbar>

    <md-content class="md-padding" flex>
        <div ng-view></div>
    </md-content>
   



<script src="/Scripts/angular.min.js"></script>
<script src="/Scripts/angular-route.min.js"></script>
<script src="/Scripts/angular-animate.min.js"></script>
<script src="/Scripts/angular-aria.min.js"></script>
<script src="/Scripts/angular-material.min.js"></script>


<script src="/Client/Modules/LoginAppModule.js"></script>
    
<script src="/Client/Controllers/LoginPageController.js"></script>
<script src="/Client/Controllers/LoginController.js"></script>
<script src="/Client/Controllers/RegisterController.js"></script>
<script src="/Client/Controllers/LandingController.js"></script>



<script src="/Client/Services/LoginModelCommandService.js"></script>
</body>
</html>

