@{
    Layout = null;
}
@using AngularHomeWork.Models
@model AngularHomeWork.Models.Teacher

<!DOCTYPE html>
<html>
<head>
    <title>Teacher</title>
</head>
<body>

    <h1>@Model.name</h1>
</body>
</html>

