@{
    Layout = null;
}

@using AngularHomeWork.Models
@model AngularHomeWork.Models.TeacherHomeViewModel

<!DOCTYPE html>
<html>
<head>
   
    <meta chrset="UTF 8">
    <link rel="stylesheet" href="/css/angular-material.css" />
    <title>Teacher</title>
</head>




<body ng-app="app"  ng-controller="teacherPageController" ng-init="classRooms = @Html.Raw(Json.Encode(Model.teacher.classRoomNames).Replace("\"", "'")) ; teacherName = '@Model.teacher.name'" layout="column">
    
    @Html.Partial("toolbar")

    <div class="container" layout="row" flex>


        @Html.Partial("sidebar")


        <div> HOME</div>


    </div>



       



    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-route.min.js"></script>
    <script src="/Scripts/angular-animate.min.js"></script>
    <script src="/Scripts/angular-aria.min.js"></script>
    <script src="/Scripts/angular-material.min.js"></script>


    <script src="/Client/Modules/AppModule.js"></script>
   
    <script src="/Client/Controllers/TeacherPageController.js"></script>
   

</body>
</html>

